
.adultosmayores1{
    color: #4D5D44;
    font-family: "Bellota", system-ui;
    font-weight: 200;
    text-align: center;
    font-style: normal;
    font-size: x-large;
img{
    width: 75%;
    height: 35vh;
    border-color: #DCD7C2;
    border-style: solid;
    display: flex;
    margin-left: 9.375rem;
    margin-bottom: 3.125rem;
    margin-top: 0;
    margin-right:6.25rem;
}
}
.adultostextos1{
    margin-left: auto;
    margin-top: 3.125em;
    text-align: center;
    width: 100%;
}
.adultorsmayores2{
    width: 100%;
    height: 9.375em;
    display: flex;
    margin-top: 6.25em;
}
.mayoresancla{
    width: 100%;
    height: 9.375em;
}

.mayoresbuton{
    background-color: #4D5D44;
    color: #DCD7C2;
    font-size: larger;
    padding: .9375rem;
    border-color: #DCD7C2;
    border-style: solid;
    box-shadow: #DCD7C2;
    margin-left: 37.5em;
    &:hover{
        transform: scale(1.5);
    }
}

.adultostextos2{
    color: #4D5D44;
    font-family: "Bellota", system-ui;
    font-weight: 200;
    text-align: center;
    font-style: normal;
    font-size: x-large;
    margin-left: auto;
    width: 100%;
    padding-bottom:  13.625em;

}