.footer{
    display: flex;
    color: $color1;
    font-family: $tipografia-texto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5625em;
    text-align:center;
    line-height: 3,5em;  
    background-color: $color2; 
    width: auto;}